@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

/* Custom Scrollbar for Mobile View */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}
