@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  /* overflow: hidden; Removed to allow mobile scroll */
}

/* Custom Scrollbar for Mobile View */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}

/* Animations */
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
